body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

h1, h2 {
	margin: 0;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}
section img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  